      _           _   ____  ____ ____    ____                _
__  _| | _____ __| | |  _ \/ ___/ ___|  |  _ \ ___  __ _  __| | ___ _ __
\ \/ / |/ / __/ _` | | |_) \___ \___ \  | |_) / _ \/ _` |/ _` |/ _ \ '__|
 >  <|   < (_| (_| | |  _ < ___) |__) | |  _ <  __/ (_| | (_| |  __/ |
/_/\_\_|\_\___\__,_| |_| \_\____/____/  |_| \_\___|\__,_|\__,_|\___|_|

    Choose an option below:

        1) Pull live feed from xkcd.com
        2) Add a bookmark
        3) Show my bookmarks
        4) Read a bookmark
        5) Delete a bookmark
        6) Delete all bookmarks
